@import 'stylesheets/variables.scss';

.buttons-group {
  &__button {
    font-size: 15px;
    min-width: 130px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    border: 0;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &_active {
      border: 2px solid $active_button;
      border-radius: 8px;
    }
    
    &_hide {
      display: none;
    }
  }
  
}