@import 'stylesheets/variables.scss';

.buttons-group {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 12px;
  margin-left: 16px;
  font-size: 18px;

  &__counter {
    margin-right: 8%;
  }
}